data
models
Ped-ETK
LCD_CT*
.venv
*.csv
.data_aug*
noise_patches
*.pyc
logs
*/.ipynb_checkpoints
notebooks/02 Evaluation figures.ipynb_checkpoints
notebooks/02 Evaluation figures*.png
pedsilicoICH_*.*

denoising/save
*/lightning_logs
*.pkl
notebooks/dataset_utils.py
peds_noise_augmentation_202*
.env
.vscode