data
models
Ped-ETK
LCD_CT*
.venv
*.csv
.data_aug*
noise_patches
*.pyc
results
logs
notebooks/.ipynb_checkpoints
notebooks/02 Evaluation Results/.ipynb_checkpoints
notebooks/02 Evaluation Results/*.png

denoising/save
*.pkl